extends layout

block content
  .wrap
    h1 API
    
    h3 Person
    h4 /person/:type

    .desc Query string parameters name

    ul
      li.get
        span GET
        a(href="/person/cast?name=Leonardo+DiCaprio") /person/cast
      li.get
        span GET
        a(href="/person/director?name=Darren+Aronofsky") /person/director
      li.get
        span GET
        a(href="/person/writer?name=Steven+Zaillian") /person/writer

    h3 Movies
    
    .desc Query string parameters skip, limit and title

    ul
      li.get
        span GET
        a(href="/movies") /movies


    h3 Last.fm
    ul
      li.post 
        span POST
        | /lastfm
        .desc Form data like 'text=np' or 'text=nowplaying' to get now playing from the Iteam1337 account. 'text=np:hpbeliever' to get now playing song for hpbeliever.
