extends layout

block content
  .wrap
    h1 API
    
    h3 Person
    h4 /person/:type

    ul
      li.get
        span GET
        a(href="/person/cast?name=Leonardo+DiCaprio") /person/cast
      li.get
        span GET
        a(href="/person/director?name=Darren+Aronofsky") /person/director
      li.get
        span GET
        a(href="/person/writer?name=Steven+Zaillian") /person/writer
    ul.params
      li.params__title Required parameters
      li.params__param name

    h3 Movies
    ul
      li.get
        span GET
        a(href="/movies") /movies
        ul.params
          li.params__title Optional parameters
          li.params__param skip
            .params__desc default: 0
          li.params__param limit
            .params__desc default: 50
          li.params__param title
      li.get
        span GET
        a(href="/movies/rating/10") /movies/rating/:rating

    h3 Statistics
    ul
      li.get
        span GET
        a(href="/stats") /stats

    h3 Last.fm
    ul
      li.post 
        span POST
        | /lastfm
    ul.params
      li.params__title Required parameters
      li.params__param text=np / text=np:{username}
        .params__desc form data
      li.params__title Optional parameters
      li.params__param np config:set {username}
        .params__desc Set username with users ID
