extends layout

block content
  .now-playing
    a.btn(href="/auth/twitter") Twitter auth

    form(method="post", action="/tmdb")
      input(type="text", name="imdbid", class="input__text", placeholder="IMDb ID")
      input(type="text", name="rating", class="input__text", pattern="\d*", placeholder="Rating")
      input.btn(type="submit", class="button", placeholder="Skicka")
