/**
 * Reset
 * -----------------------------
 * Based on Eric Meyer's reset 2.0 rules.
 * (http://meyerweb.com/eric/tools/css/reset/index.html)
 * 
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: 0; }

/**
 * Helper functions
 * -----------------------------
 * 
 * 
 */
/**
 * Box-sizing
 * -----------------------------
 * $default-box-sizing = border-box
 * 
 */
/**
 * Inline-block
 * -----------------------------
 * $default-alignment = false
 * 
 */
/**
 * Opacity
 * -----------------------------
 * description
 * 
 */
/**
 * Shapes
 * -----------------------------
 * description
 * 
 */
/**
 * Links
 * -----------------------------
 * Styling of links
 * 
 */
/**
 * List styles
 * -----------------------------
 * $default-margin = false
 * 
 */
/* Shapes and sizing
--------------------------------------------------------*/
/* Mixins
--------------------------------------------------------*/
/**
 * Animations
 */
/**
 * Apperance
 */
/**
 * Border radius
 */
/**
 * Box shadow
 */
/**
 * Centering
 */
/**
 * Columns
 */
/**
 * Font size
 */
/**
 * Inner shadow
 */
/**
 * Keyframes
 */
/**
 * Positioning
 */
/**
 * Prefixes
 * @type {[type]}
 */
/**
 * Rotate
 */
/**
 * Scale
 */
/**
 * Text overflow
 */
/**
 * Transform
 */
/**
 * Translate X and Y
 */
/**
 * Transition
 */
/**
 * User select
 */
body {
  font-family: 'Open Sans';
  line-height: 1.5; }

h1 {
  font-size: 2rem;
  margin-bottom: 20px; }

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0; }

h4 {
  font-weight: bold;
  margin-bottom: 20px; }

.wrap {
  margin: 100px auto;
  width: 500px; }

li {
  margin-bottom: 10px; }

.get span, .post span {
  background: #5e9fa3;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px; }

.post span {
  background: #f87e7b; }

.desc {
  margin: 20px 0; }
