@import "../../bower_components/mrwhite-scss-mixins/reset";
@import "../../bower_components/mrwhite-scss-mixins/mixins";

$margin: 20px;
$color--accent: rgb(94,159,163);

body {
  font-family: 'Open Sans';
  line-height: 1.5;

  @include mobile {
    padding: $margin;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: $margin;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: $margin 0;
}

h4 {
  font-weight: bold;
  margin-bottom: $margin;
}

a {
  color: rgb(94,159,163);
  text-decoration: none;
}

.wrap {
  margin: 100px auto;
  max-width: 500px;

  @include mobile {
    margin: 0;
  }
}

li {
  margin-bottom: $margin / 2;
}

.get span,
.post span {
  background: rgb(94,159,163);
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: $margin;
  padding: 5px;
}

.post span {
  background: rgb(248,126,123);
}

.desc {
  margin: $margin 0;
}

//
// Params
// --------------------------------------------------
.params {
  margin: $margin 0;
}

.params__title {
  font-weight: bold;
  margin-top: $margin;
}

.params__param {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0;
  padding: $margin / 2 0;
}

.params__desc {
  color: rgba(0,0,0,.2);
  float: right;

  @include mobile {
    float: none;
  }
}

.now-playing {
  margin: 50px auto;
  max-width: 500px;
}

.input__text {
  @include box-sizing;

  background: rgb(238,238,238);
  border: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  padding: 15px 30px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.button {
  @include appearance(none);

  background: $color--accent;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 0;
  width: 100%;
}